name: Run Application

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Download spacy model
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Run application
        run: uvicorn app:app --host 0.0.0.0 --port 8000
